body{

}

.header{
    background-color: tan;
    padding: 10px;

}


.nav{
background-color: salmon;
padding: 10px;
}

.about-uwm{
    background-color: bisque;
    padding: 10px;

}

.section{
    background-color: burlywood;
    margin-left: 10px;
    padding: 10px;
}

.footer{
    background-color: cornflowerblue;
    padding: 10px;
}


